.document {
  font-family: Courier, "Courier New", monospace;
  font-weight: normal;
  position: absolute;
  top: 0;
  left: 0;
  border: 2px solid green;
  .positioned {
    position: absolute;
  }
  .id, .created_at, .updated_at {
    display: none;
    visibility: hidden;
  }
  .month, .day, .year, .slash {
    position: relative;
    float: left;
  }
}

@import "nc-ballot-request.css.scss";
@import "va-ballot-request.css.scss";