.document {
  background-size: 100% 100%;
  // width in inches minus 10mm margins times 300 ppi
  width: (8.75 - (2 * 0.7878)) * 300px;
  height: (11 - (2 * 0.7878)) * 300px;
  font-family: 'Droid Sans Mono', Courier, "Courier New", monospace;
  font-weight: normal;
  position: absolute;
  top: 0;
  left: 0;
  .positioned {
    position: absolute;
  }
  .id, .created_at, .updated_at {
    display: none;
    visibility: hidden;
  }
  .month, .day, .year, .slash {
    position: relative;
    float: left;
  }
  .status, .auxiliary-tick {
    display: none;
  }
}

@import "nc-ballot-request.css.scss";
@import "va-ballot-request.css.scss";