.nc_ballot_request {
  background-size: 100% 100%;
  width: 2404px;
  height: 3035px;
  font-size: 40px;
  .name {
    .first_name       { top: 650px; left: 720px; }
    .middle_name      { top: 650px; left: 1470px; }
    .last_name        { top: 650px; left: 30px; }
    .suffix           { top: 650px; left: 1950px; }
  }
  .ssn_four         { top: 1220px; left: 1010px; }
  .license_number   { top: 1220px; left: 40px; }
  .birthdate        { top: 650px; left: 2090px; }
  .registered_address {
    .street_address   { top: 775px; left: 30px; }
    .apartment        { top: 810px; left: 30px; }
    .city             { top: 900px; left: 30px; }
    .zip              { top: 900px; left: 960px}
    .state            { top: 900px; left: 810px}
    .country          { display: none; }
  }
  .current_address {
    .street_address   { top: 1430px; left: 30px; }
    .apartment        { top: 1465px; left: 30px; }
    .city             { top: 1430px; left: 1200px; }
    .state            { top: 1430px; left: 1840px; }
    .country          { top: 1465px; left: 1840px; }
    .zip              { top: 1430px; left: 2040px; }
  }
  .moved_recently {
    font-weight: bold;
    font-size: 50px;
    .true  { top: 990px; left: 910px; }
    .false { top: 990px; left: 800px; }
  }
  .date_moved {
    .month, .day, .year { top: 1070px; position: absolute; }
    .month { left: 720px; }
    .day   { left: 840px; }
    .year  { left: 950px; }
    .slash { display: none; }
  }
}