.va_ballot_request {
  background: url(image-path("pdfs/va-request-bg.png"));
  background-size: 100% 100%;
  width: 2520px;
  height: 3222px;
  font-size: 40px;
  border: 2px solid green;
  .ssn_four, .reason_code, .zip {
    font-size: 50px;
    &.zip         { letter-spacing: 40px; }
    &.ssn_four    { letter-spacing: 35px;}
    &.reason_code { letter-spacing: 60px; }
  }
  .name {
    .first_name       { top: 390px; left: 1720px; }
    .middle_name      { top: 490px; left: 780px; }
    .last_name        { top: 390px; left: 730px; }
    .suffix           { top: 490px; left: 1330px; }
  }
  .ssn_four         { top: 490px; left: 2220px; }
  .reason_support   { top: 930px; left: 1280px; }
  .reason_code      { top: 930px; left: 810px; }
  .registered_address {
    .street_address   { top: 1270px; left: 690px; }
    .apartment        { top: 1270px; left: 2110px; }
    .city             { top: 1350px; left: 630px; }
    .zip              { top: 1350px; left: 2130px; }
    .state            { display: none; }
    .country          { display: none; }
  }
  .current_address {
    .street_address   { top: 1590px; left: 700px; }
    .apartment        { top: 1590px; left: 2180px; }
    .city             { top: 1680px; left: 640px; }
    .state            { top: 1680px; left: 1310px; }
    .country          { top: 1680px; left: 1450px; }
    .zip              { top: 1670px; left: 1820px; }
  }
}