%h1 Listing va_ballot_requests

%table
  %thead
    %tr
      %th
      %th
      %th
      
  %tbody
    - @va_ballot_requests.each do |va_ballot_request|
      %tr
        %td= link_to 'Show', va_ballot_request
        %td= link_to 'Edit', edit_va_ballot_request_path(va_ballot_request)
        %td= link_to 'Destroy', va_ballot_request, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Va ballot request', new_va_ballot_request_path
