%h1 Listing all

%table
  %thead
    %tr
      %th Name
      %th Id
      %th
      %th
      
  %tbody
    - documents.each do |doc|
      %tr
        %td= doc.name.first_name
        %td= doc.id
        %td= link_to 'Show', doc
        %td= link_to 'Destroy', doc, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br