.homepage
  .color-immersion.landing-splash
    .hero Voting shouldn't be difficult
    .subhero We exist to make voting as easy as legally possible.
    .explanation
      More than a million Americans don't live in the same city where they're registered to vote. Breezevote empowers the internet generation to vote by mail without wading through paperwork.


  .color-immersion.explanation
    / %h1.thin.center How it works
    %h2.medium.center
      Many states allow anyone to vote by mail,
      %br
      and we've made it easier than ever.

    .one-third
      .icon= image_tag('drawings/laptop-traced-white.png')
      %h3.medium Fill out your info online
      %p Our interactive form will request all the information your state wants for a mail-in ballot.

    .one-third
      .icon= image_tag('drawings/form-traced-white.png')
      %h3.medium Sign your ballot request
      %p You're required to sign your request form, so we print it, mail it, and send it to you with a return envelope.

    .one-third
      .icon= image_tag('drawings/ballot-traced-white.png')
      %h3.medium Vote from home
      %p Your mail-in ballot will arrive courtesy of the government. If you like, we'll even nag you to send it in.

  .color-immersion.get-started
    .content
      %h1.thin Ready to get started?
      #ballot_request_form.homepage-form