.homepage
  .color-immersion.landing-splash
    .hero Voting shouldn't be difficult
    .subhero We exist to make voting as easy as legally possible.
    .explanation
      Whether that means registration, absentee ballots, early voting, or polling locations, Breezevote manages all your paperwork, dates, and laws.
      %br We'll do everything but try to make up your mind.


  .color-immersion.explanation
    This is how we do it

  .color-immersion.get-started
    #ballot_request_view.form