.homepage {
  .color-immersion {
    &.landing-splash {
      padding: 260px 0;
      background-color: $dark_red;
      background-image: asset-url('election_2008_queue_red.jpg');
      background-size: cover;
      background-repeat: no-repeat;
      color: white;
      .hero {
        text-align: center;
        font-weight: 700;
        font-size: 60px;
      }
      .subhero {
        text-align: center;
        font-weight: 200;
        font-size: 35px;
        margin: 10px 0;
      }
      .explanation {
        @include centered-to-full(600px);
        margin-top: 20px;
        font-size: 19px;
        font-weight: 200;
        line-height: 27px;
      }
    }
    &.explanation {
      display: none;
    }
    &.get-started {
      background-color: $light_blue;
      .form {
        @include centered-to-full(600px);
      }
    }
  }
}