.color-immersion {
  width: 100%;
  margin: 0;
  padding: 80px 0;
  float: left;
  overflow: hidden;
  .full-width-title {
    width: 100%;
    text-align: center;
  }
}

.one-third {
  $gutter: 4%;
  width: (100% - (4 * $gutter)) / 3;
  margin-left: $gutter;
  float: left;
  @media(max-width: 500px) {
    width: 100% - (2 * $gutter);
    padding: 0 $gutter;
    margin-left: 0;
    margin-right: 0;
  }
}