.color-immersion {
  width: 100%;
  margin: 0;
  padding: 0;
  float: left;
  overflow: hidden;
  .full-width-title {
    width: 100%;
    text-align: center;
  }
  &.default {
    background: $light_blue;
    a {
      color: white;
    }
  }
}
.full-screen {
  position: absolute;
  width: 100%;
  overflow: scroll;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.illustrated-steps {
  width: 100%;
  .step {
    width: 100%;
    float: left;
    img {
      width: 30%;
      float: left;
    }
    .details {
      text-align: left;
      margin-top: 20px;
      float: left;
      margin-left: 3%;
      width: 67%;
    }
    @media(max-width: 500px) {
      img {
        width: 200px;
        margin: 0 auto;
        float: none;
        display: block;
      }
      .details {
        width: 80%;
        text-align: left;
        float: left;
        margin: 5px 10% 30px;
      }
    }
  }
}

.one-third {
  $gutter: 4%;
  width: (100% - (4 * $gutter)) / 3;
  margin-left: $gutter;
  float: left;
  @media(max-width: 650px) {
    width: 100% - (2 * $gutter);
    padding: 0 $gutter;
    margin-left: 0;
    margin-right: 0;
  }
}