.color-immersion {
  width: 100%;
  margin: 0;
  padding: 0;
  float: left;
  overflow: hidden;
  .full-width-title {
    width: 100%;
    text-align: center;
  }
  &.default {
    background: $light_blue;
  }
}
.full-screen {
  position: absolute;
  width: 100%;
  overflow: scroll;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.one-third {
  $gutter: 4%;
  width: (100% - (4 * $gutter)) / 3;
  margin-left: $gutter;
  float: left;
  @media(max-width: 650px) {
    width: 100% - (2 * $gutter);
    padding: 0 $gutter;
    margin-left: 0;
    margin-right: 0;
  }
}