.form {
  label {
    text-transform: capitalize;
    display: block;
    margin: 15px 0 3px;
  }
  input, select {
    padding: 10px 5%;
    font-size: 15px;
    border-radius: 4px;
    border: 3px solid white;
    background-color: white;
    font-family: $sansff;
    width: 90%;
  }
  input[type="radio"]{
    float: left;
    width: 5%;
    margin: 5px 0 10px;
  }
  .radio-option {
    background: white;
    padding: 5px 2%;
    float: left;
    width: 96%;
    margin-bottom: 10px;
    border-radius: 4px;
    label {
      text-transform: none;
      font-size: 15px;
      margin-top: 5px;
    }
  }
  select {
    height: 38px;
  }
  .section {
    float: left;
    width: 100%;
    margin-bottom: 35px;
  }
  [data-reveal-field] {
    display: none;
  }
  .field.error {
    input {
      border-color: $dark_red;
    }
    label {
      display: none;
    }
    label.inline-error {
      display: block;
      font-size: 14px;
      color: $dark_red
    }
  }
  .button {
    background: rgba(30, 30, 30, 0.1);
    color: white;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 4px;
    text-align: center;
    font-weight: 700;
    border: 4px solid white;
    transition: background linear 0.1s, color linear 0.1s;
    min-width: 150px;
    float: left;
    &:hover {
      background: white;
      color: $dark_blue;
    }
  }

  $full-width: 600px;
  $half-width: 360px;
  $columns: 12;
  $col-width: 100% / $columns;
  @media(min-width: $full-width) {
    @for $i from 2 through $columns {
      .span-#{$i} {
        float: left;
        width: $col-width * ($i - 0.5);
        margin-right: $col-width * 0.5;
      }
    }
  }
  @media(min-width: $half-width) and (max-width: $full-width) {
    @for $i from 2 through $columns {
      .span-#{$i} {
        float: left;
        width: 45%;
        margin-right: 5%;
      }
    }
  }
}