@mixin full-width-after($maxWidth, $padding: 2%) {
  @media(max-width: $maxWidth) {
    width: 100% - 2 * $padding;
    padding: 0 $padding;
  }
}
@mixin centered-to-full($width, $padding: 2%) {
  width: $width;
  margin: 0 auto;
  @include full-width-after($width, $padding);
}