@mixin full-width-after($maxWidth, $padding: 2%) {
  @media(max-width: $maxWidth) {
    width: 100% - 2 * $padding;
    padding: 0 $padding;
  }
}
@mixin centered-to-full($width, $padding: 2%) {
  width: $width;
  margin: 0 auto;
  @include full-width-after($width, $padding);
}

// Clearfix
// --------
// For clearing floats like a boss h5bp.com/q
@mixin clearfix {
  *zoom: 1;
  &:before,
  &:after {
    display: table;
    content: "";
    // Fixes Opera/contenteditable bug:
    // http://nicolasgallagher.com/micro-clearfix-hack/#comment-36952
    line-height: 0;
  }
  &:after {
    clear: both;
  }
}
.main {
  background-color: $light_blue;
  @include clearfix();
  .content {
    @include clearfix();
    @include centered-to-full(800px);
    padding: 40px 0;
  }
}