<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <%= stylesheet_link_tag(asset_data_base64('documents.css')) %>
  </head>
  <body>
      <%= yield %>
  </body>
</html>